{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-content">
            <h2>Управление вопросами: {{ quiz.title }}</h2>
            
            <div id="questionsContainer"></div>
            
            <div class="form-control">
                <button type="button" id="addQuestionBtn" class="btn btn-secondary">
                    <i class="material-icons left">add</i> Добавить вопрос
                </button>
            </div>
            
            <div class="form-control">
                <button type="button" id="saveQuizBtn" class="btn btn-primary">
                    <i class="material-icons left">save</i> Сохранить тест
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    const quizData = {{ questions|tojson|safe }};
    const quizId = {{ quiz.id }};
</script>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}